# ========= JUCE =========

# Keep exporter projects
!Builds/
!Builds/MacOSX/
!Builds/VisualStudio2022/

# Ignore generated build artifacts inside exporters
Builds/**/build/
Builds/**/Build/
Builds/**/x64/
Builds/**/Debug/
Builds/**/Release/
Builds/**/DerivedData/
Builds/**/JuceLibraryCode/
Builds/**/.vs/

# Xcode junk
*.xcuserdata/
*.xcuserstate
DerivedData/

# Visual Studio junk
*.suo
*.user
*.VC.db
*.VC.opendb
*.pdb
*.ilk

# JUCE generated intermediate code
JuceLibraryCode/

# macOS junk
.DS_Store